.container {
  color: #fff;
  background: #000;
  text-align: center;
  padding-top: 15px;
  padding-left: 21px;
  padding-right: 21px;
  padding-bottom: 25px;
  margin: 0 5px;
}

.container > * {
  margin: 0;
}

.title {
  font-weight: 600;
  font-style: 20px;
  line-height: 1.5;
  font-style: normal;
  font-family: "Poppins";
  margin-bottom: 6px;
}

.text {
  font-weight: 400;
  font-style: 11px;
  line-height: 1.5;
  color: #c9c9c9;
  margin-bottom: 12px;
}
