.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 58px;
}

.list > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

li > a {
  text-decoration: none;
  font-weight: 800;
  font-size: 12px;
  font-family: "Poppins";
  line-height: 1.5;
  font-style: normal;
  color: #fff;
}

li > *:not(:last-child) {
  margin-bottom: 10px;
}

.adress {
  padding: 0 24px;
}

.smallIcon {
  position: absolute;
  z-index: 999;
  /* right: 30px; */
  right: calc(100vw - 90%);
  top: 500px;
  width: 54px;
  height: 54px;
}

.largeIcon {
  position: absolute;
  z-index: 500;
  right: calc(100vw - 98.65%);
  /* top: 510px; */
  top: calc(100vh + 47%);
}
