/* .App {
  display: block;
  margin-right: auto;
  margin-left: auto;
} */

@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url(./Utilities/Fonts/Inter/static/Inter-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url(./Utilities/Fonts/Poppins/Poppins-Light.ttf) format("truetype");
}
